site_name: Site de suivi IFT3150
site_description: Site web pour le cours IFT3150
site_author: M-S H.
site_url: https://rusetset.github.io/

theme:
  name: material
  language: fr
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.highlight
    - search.suggest
    - search.share
    - content.tabs.link
    - content.code.copy
    - content.code.annotate
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
    
copyright: "&copy; 2026 <b>DIRO</b> &ndash; Template de site pour le cours IFT3150 <br>Département d'informatique et de recherche opérationnelle <br>Université de Montréal"

repo_name: rusetset.github.io
repo_url: https://github.com/Rusetset/rusetset.github.io
# edit_uri: edit/main/docs/

# extra:
#   social:
#     - icon: fontawesome/brands/github
#       link: https://github.com/udem-diro/template-projet
#       name: squidfunk on Fosstodon

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.emoji
  - pymdownx.keys
  - attr_list
  - def_list
  - footnotes
  - meta
  - toc:
      permalink: true

plugins:
  - search


nav:
  - Vue d'ensemble: index.md
  - Suivi: suivi.md